#main-content {
    background: linear-gradient(rgb(89, 172, 187), rgb(36, 36, 176));
}

.header {
    font-family: sans-serif;
}
#form{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-field{
    width: 300px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin:0 10px;
}

.search-btn{
    height: 50px;
    width: 150px;
    background: #ffeb3f;
    border: none;
    color: #000;
    border-radius: 10px;
    
}
.search-btn{
    background: #ffc107;
}
.wraper {
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #e67e22;
    padding-top: 50px;
    text-align: center;
}
.pre_text {
    font-weight: bold;
}

.text_wraper {
    height: 45px;
    overflow-y: hidden;
}

.text_wraper .innerText {
    display: flex;
    flex-direction: column;
    line-height: 45px;
}

.cek-cuaca {
    position: relative;
    width: 70%;
    margin: 0px auto;
}

.back {
    position: absolute;
    top: -12px;
    padding: 0px 10px;
    font-size: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back:active {
    color: blue;
}

.kota {
    text-align: center;
}

.detail {
    margin: 20px 0 0;
}

.detail-kota {
    color: #f2f2f2;
}

.provinsi {
    color: #f2f2f2;
    margin: 10px 0 20px;
}

.detail ul {
    border-bottom: 3px solid greenyellow;
    width: 100%;
    list-style: none;
    display: flex;
}

.active-time {
    background-color: greenyellow;
    color:#000;
}

.detail li {
    text-align: center;
    padding: 5px 15px;
    flex-grow: 1;
    cursor: pointer;
}

.detail li:hover {
    background-color: greenyellow;
}

.detail img {
    width: 95%;
    height: 400px;
    display: block;
    margin: 5px auto;
}

.image-container {
    position: relative;    
}

.detail-cuaca {
    width: 100%;
    text-align: center;
}

.detail-cuaca img {
    width: 90px;
    height: auto;
}

.detail-cuaca p {
    margin-bottom: 15px;
}